.font_999{
	color: #999999;
}
.font_red{
	color:#d9534f;
}
.font_14{
	font-size: 10px;
}
.back{
	background-color: #f0ece9;opacity:0;
}
.allWidth{
	width: 100%;z-index: 1;position: absolute;top: 0px;
}
.top{
	text-align: center;font-size: 35px; height: 100px;padding-top: 30px;
}
.top_button{
	height: 60px;padding-left: 10%;
}
.button{
	color: white;border:2px #333333 solid;width: 90px;height: 35px;
}
.button1{
	background-color: black;
}
.button2{
	background-color: #48bbda;margin-left: 20px;
}
.center{
	height: 500px;width: 80%;margin: 0 auto;background-color: white;
}
.center_top{
	padding-left: 35px;height: 70px;background-color: #dadee1;line-height: 60px;
}
.ul li{
	display: inline;font-size: 16px;
}
.divLine{
	height: 43px;line-height: 40px; font-size: 15px;padding-left: 35px;word-spacing: 75px;background-color: #eef1f8;
}
.LineBox{
	height: 430px;
}
.divLine2{
	height: 43px;line-height: 40px; font-size: 15px;padding-left: 35px;word-spacing: 75px;background-color: white;
}
.span{
	word-spacing: 5px;color: red;float:right;padding-right: 1.5%;
}
.span:hover{
	cursor:pointer;
}
.buttom{
	height: 200px;padding-left: 10%;line-height: 80px;padding-right: 10%;float: top;
}
.button3{
	background-color: #daf5fc;float:right;margin-right: 1.5%;position: relative;top: 30px;color: black;
}
.button4{
	background-color: #daf5fc;float: right;position: relative;top: 30px;color: black;
}
.add{
	width: 100%;height: 790px;z-index: 2;position:absolute;top: 0px; background-color: rgba(150,150,150,0.3);visibility:hidden;
}
.addPanel{
	width: 32%;height: 430px;margin: 0 auto;background-color: #f0ece9;line-height: 35px;
	padding-left: 13%;padding-top: 2%;word-spacing: 80px;
}
.addPanelTop{
	width: 45%;height: 70px;margin: 0 auto;background-color: #c6ffc6;margin-top: 7%;line-height: 70px;text-align: center;font-size: 25px;color: white;
}
.seeTop{
	height: 60px;background-color: #333333;
}
.input{
	height: 30px;width: 30%;font-size: 16px;text-align: center;color: blue;
}
.input2{
	height: 30px;width: 30%;font-size: 16px;color: #332299;padding-left: 20px;
}
.input3{
	height: 30px;width: 30%;font-size: 16px;color: green;padding-left: 20px;
}
.see{
	width: 100%;height: 790px;z-index: 3;position:absolute;top: 0px; background-color: rgba(150,150,150,0.3);visibility:hidden;
}
.modify{
	width: 100%;height: 790px;z-index: 4;position:absolute;top: 0px; background-color: rgba(150,150,150,0.3);visibility:hidden;
}
.button5{
	background-color: #333333;margin-left: 20%;width: 135px;
}
.button6{
	background-color: #333333;width: 130px;
}
.button7{
	background-color: #5cb85c;margin-right: 10%;width: 130px;
}
.button8{
	background-color: #daf5fc;float: right;position: relative;top: 30px;color: black;margin-right: 4%;
}
.button9{
	background-color: #daf5fc;float: right;position: relative;top: 30px;color: black;margin-right: 1%;
}
.psoition1{
	position: absolute;left: 17%;
}
.psoition2{
	position: absolute;left: 22%;
}
.psoition3{
	position: absolute;left: 32%;
}
.psoition4{
	position: absolute;left: 40%;
}
.psoition5{
	position: absolute;left: 55%;
}
.psoition6{
	position: absolute;left: 70%;
}
.psoition7{
	position: absolute;left: 76%;
}
.psoition8{
	position: absolute;left: 80%;
}

.top1{
	position: absolute;left: 16%;
}
.top2{
	position: absolute;left: 24%;
}
.top3{
	position: absolute;left: 31.8%;
}
.top4{
	position: absolute;left: 41.5%;
}
.top5{
	position: absolute;left: 56%;
}
.top6{
	position: absolute;left: 70%;
}
.top7{
	position: absolute;left: 75%;
}
.top8{
	position: absolute;left: 79%;
}
.top9{
	float: right;margin-right: 3%;
}
.back_1{
	background:url(img1.jpg) no-repeat 0px 0px;
	background-size:100% 100%;
	background-attachment: fixed;
}
.back_2{
	background:url(img2.jpg);
	background-size:100% 100%;
	background-attachment: fixed;
}
.back_3{
	background:url(img3.jpg) no-repeat 0px 0px;
	background-size:100% 100%;
	background-attachment: fixed;
}
.span_buttom{
	color: #332299;
}
.check{
	width: 18px;height: 18px;color: red;background-color: green;
}
.foundInput{
	width: 13%;height: 30px;font-size: 20px;color: green;float: right;margin-right: 15px;margin-top: 30px;
}
