// 定义sass变量，方法

// 主题颜色， 用于白色背景，字体
$font_main_color: #ffffff;
// 标题字体颜色
$font_title_color: #333333;
// 子标题颜色
$font_subtitle_color: #999999;
// 最新，重要色
$font_z_color: #CC3300;
// 文本颜色
$font_text_color: #131313;
// 背景色
$bg_main_color: #0299cc;
