# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

/build/
!gradle/wrapper/gradle-wrapper.jar
**/bin
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.vscode

**/output
node_module/

out/*

/nevis-bn/bn-api/src/main/resources/application.yml
/nevis-global/out/
/nevis-auth/out/
/nevis-bn/bn-api/out/
/nevis-bn/bn-dao/out/
/nevis-bn/bn-entity/out/
/nevis-bn/bn-service/out/
/nevis-bn/bn-util/out/
/.idea/
/.gradle/
/.idea/workspace.xml
/.idea/gradle.xml
